
.fcc-btn {
    background-color: #199319;
    color: white;
    border-radius: 10%;
    border-color: blueviolet;
    border-width: 2px;
    border-style: double;
  }

  .wtf
  {
    margin-left: 20px;
  }

  h1
  {
    text-align: center;
    color : red; 
  }

  body
  {
    background-color: aqua;
  }